@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    /* header */

    .unstable-menu {
        margin-left: 76px;
    }

    .ping {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .address-nav {
        flex-direction: row;
    }

    .address-nav .item:last-child {
        margin-left: 40px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        height: 600px;
    }

    .hero-title {
        width: 484px;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    
    }
    
    /* Obligations */
    
    .obligation {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .obligations-list {
        display: flex;
    }
    
    .obligations-list .item {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
        margin-right: 24px;
    }
    
    
    .obligations-list .item:nth-child(4n) {
        margin-right: 0;
    }
    
    .obligations-icons.is-active {
        display: ;
    }
    
    .obligations-icons {
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-cloud-color);
        margin-bottom: 8px;
    }
    
    .obligations-icons-icon {
        fill: var(--title-text-color);
    }
    
    .obligations-list .title {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    
    .obligations-list .text {
        font-weight: 400;
    }
    
    /* What are we doing */
    
    .work.is-active {
        display: block;
    }
    
    .work .flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .work-list {
        display: flex;
    }
    
    .work-list .title {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    
    .work-list>.item {
        display: block;
        height: auto;
        width: calc((100% - 48px) / 3);
        margin-right: 24px;
        margin-bottom: 120px;
        padding-bottom: 0;
    }
    
    .work-list .item:nth-child(3n) {
        margin-right: 0;
    }
    
    .work-list .item .img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    /* Our Team */
    .team {
        max-width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .team-list .item:not(:last-child) {
        margin-right: 24px;
    }
    
    
    /* Customers */
    
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .customers-item {
        margin-bottom: 0;
        width: calc((100% - (24px * 5))/6);
        /* width: calc((100% - 168px) / 6); */
    
    }
    
    .customers-item:last-child {
        margin-right: 0;
    }
    
    /* .customers-list {
        gap: 24px;
    } */

    /* Footer */

    .footer-inner {
        margin: 0 120px 0 0;
    }
    
    .footer-socials {
        margin: 0 80px 0 0;
    }
    
    .subscribe-label input {
        min-width: 264px;
    }

    /* Portfolio */
    
    .section-portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    
    .btn-list.list {
        justify-content: center;
        margin-bottom: 72px;
    }
    
    .row-list .element:not(:nth-child(3n)) {
        margin-right: 24px;
    }
    
    .row-list .element:not(:nth-last-child(-n+3)) {
        margin-bottom: 48px;
    }
    
           
    .portfolio-cover-inner {
        display: block;
    }
        
           

@media (min-device-pixel-ratio: 1),
        (-webkit-min-device-pixel-ratio: 1),
        (-o-min-device-pixel-ratio: 1/1),
        (min-resolution: 96dpi),
        (min-resolution: 1dppx) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office.jpg);
                background-color: var(--title-text-color);
            }
        }
    
@media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-desk-2x.jpg);
                background-color: var(--title-text-color);
            }
        }
   
       
      
}