/* цвет основного текста #2E2F42 */
/* вторичный цвет текста #434455 */
/* белый #FFFFFF */
/* акцент #4D5AE5 */
/* цвет текста лого #F4F4FD */
/* текст в футере #E7E9FC */

:root {
   --title-text-color: #2E2F42;
   --primary-text-color: #434455;
   --primary-white-color: #FFFFFF;
   --accent-color: #4D5AE5;
   --primary-cloud-color: #F4F4FD;
   --primary-logo-color: #E7E9FC;
   --accent-port-color: #404BBF;
   --primary-bg-color: #FFFFFF;
   --primary-bg-color: #FFFFFF;
   --l-gra: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
   --footer-icon-hover-color: #31D0AA;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* styles for html */
.page {
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    min-width: 320px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box {
    
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* header */

.page-header {
    padding: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.img {
    display: block;
}


/* logotype */

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
}

.logo .logo:hover,
.logo .logo:focus {
    color: var(--accent-color);
}

.web-color-one {
    color: var(--accent-color);
    line-height: 1.17;
}
.web-color-two {
    color: var(--title-text-color);
}
.web-color-three {
    color: var(--primary-cloud-color);
}

.header-btn-mobile {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.header-btn-mobile .header-icon:focus,
.header-btn-mobile .header-icon:hover {
    fill: var(--accent-color);
}

.mobile-menu {
    position: fixed;
    transform: scaleY(0);
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 666;
    pointer-events: none;
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.mobile-menu.is-open {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: all;
}

.mobile-menu.is-open .link.mob-menu-open {
    color: var(--accent-color);
}

.mobile-menu .mobile-social {
    margin-top: auto;
}

.header-btn-mobile-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-logo-color);
}

.header-btn-mobile-close:focus,
.header-btn-mobile-close:hover {
    background-color: var(--accent-color);
    fill: var(--title-text-color);
}

.mob-nav .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.mob-nav .link:hover,
.mob-nav .link:focus {
    color: var(--accent-color);
}

.menu-address {
    margin-top: auto;
}

.address-mob {
    display: flex;
    flex-direction: column-reverse;
}

.address-mob .ping-mob {
    display: block;
}

.address-mob .ping-mob:hover,
.address-mob .ping-mob:focus {
    color: var(--accent-color);
}

.ping-mob {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.ping-mob.mobil {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.chapter-social {
    list-style: none;
    width: 40px;
    height: 40px;
}

.chapter-social:not(:last-child) {
    margin-right: 56px;
}

.chapter-social .mobile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color);
}

.chapter-social .mobile-link:focus,
.chapter-social .mobile-link:hover {
    background-color: var(--accent-port-color);
}

.mob-social-icon {
    fill: var(--primary-cloud-color);
}


.main-nav {
    display: flex;
    align-items: center;
    height: 70px;
       
}

.mobile-header {

}

.header-icon {
    width: 32px;
    height: 22px;
    fill: var(--title-text-color);

}

.site-nav {
    margin-left: 16px;
}

.site-nav .item {
    
}

.site-nav .link {
    display: block; 
    padding: ;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
        
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-port-color);
}

/* Address */

.site-address {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.site-nav .link {
    display: inline-block;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}


/* Hero */

.hero {
    /* max-width: 428px; */
    margin: 0 auto;
    height: 432px;
    background-color: #2E2F42;
    background-image: var(--l-gra), url(../images/hero-mob-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 112px 0;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: var(--l-gra), url(../images/people-office-mob-2x.jpg);

    }
}

.hero-container {
    padding-left: 0;
    padding-right: 0;
}

.hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

/* Section */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio {
    padding: 48px 0 0; 
    /* padding-top: 96px;
    padding-bottom: 120px; */
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}



/* Obligations */

.obligation {
    padding-top: 96px;
    padding-bottom: 96px;
    
}


/* What are we doing */

.work {
    display: none;
}

/* Our Team */

.team {
    background-color: var(--primary-cloud-color);
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
}


.team-list .item {
    background-color: var(--primary-bg-color);
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item .pgh {
    padding: 32px 16px;
    text-align: center;
}

.team-list .paragraph {
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    list-style: none;
}

.team-soc-item:not(:last-child) {
    margin-right: 24px;
}

.team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--accent-port-color);
}

.team-soc-icon {
    width: 16px;
    height: 16px;
    fill: var(--primary-cloud-color);
}


/* Customers */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    gap: 16px;
}

.customers-item {
    /* width: calc((100% - 48px) / 2); */
    /* margin: 0px auto; */
    
    /* margin-right: 16px; */
    margin-bottom: 72px;
    width: calc((100% - 16px)/2);
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         
}

.customers-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--accent-port-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--accent-port-color);
}


/* Button */

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
    background: var(--accent-port-color);
    color: var(--primary-white-color);
}


/* Footer */

.footer {
    background-color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-inner {
    margin: 0 auto 72px;

}


.footer-socials {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

}

.foot-info {
    display: flex;
}


.footer-info-paragraph {
    max-width: 264px;
    color: var(--primary-logo-color);
}


.footer-soc-title {
    margin: 0 auto 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    text-align: center;
}

.footer-soc-list {
    display: flex;
    margin: 0;
    text-align: center;
    list-style: none;

}

.footer-soc-item {
    
}


.footer-soc-item:not(:last-child) {
    margin-right: 16px;
}


.footer-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
    background-color: var(--footer-icon-hover-color);
}

.footer-soc-icon {
    fill: var(--primary-cloud-color);
}

.logo.foot-part {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer .logo:hover,
.footer .logo:focus {
    color: var(--accent-color);
}


.footer-text {
    color: var(--primary-cloud-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}


.subscribe-field {
    display: flex;

}

.subscribe-label {

}

.subscribe-label input {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-cloud-color);
}

.subscribe-label input:focus {
    outline: none;
    border: 1px solid var(--accent-port-color);
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
    display: flex;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: transparent;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: var(--accent-port-color);
}

.subscribe-icon {
    fill: var(--primary-white-color);

}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);

}

.modal-close {
    width: 24px;
    height: 24px;
    border: 1px solid #2E2F42;
    background-color: var(--primary-logo-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    margin-bottom: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    background: var(--accent-port-color);
}

.modal-close:is(:hover, :focus) .modal-icon {
    fill: var(--primary-white-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
    text-align: center;
}

.input-wrap {
    position: relative;
    margin-bottom: 8px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    color: #8E8F99;
    font-weight: 400;
    line-height: 1.4;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4D5AE5;
}

.modal-input:focus + .modal-soc-icon {
    fill: var(--accent-color);
}

.modal-soc-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
    line-height: 1.4;
    padding: 8px 16px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-message:focus {
    border: 1px solid #4D5AE5;
}

.modal-check {
    margin-top: 16px;
    margin-bottom: 24px;
}
    

.input-text {
    font-size: 12px;
    color: #8E8F99;
    margin-bottom: 4px;
    display: inline-block;
}

.modal-input::placeholder {
    color: #2E2F42;
}

.check-text {
    font-size: 12px;
    color: #8E8F99;
    display: flex;
    align-items: flex-end;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked + .check-text span {
    background-color: var(--accent-port-color);
    border: none;
    fill: var(--primary-cloud-color);
}

/* .check-text::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
}

.input-check:checked + .check-text::before {
    background-color: var(--accent-port-color);
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-check:focus + .check-text::before {
    border-color: var(--accent-port-color);
} */

.policy-link {
    display: inline-block;
    margin-left: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--accent-color);
    
        
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    background: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 169px;
    padding: 16px 32px;
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
}


/* styles for portfolio */ 

.btn-list {
    margin-bottom: 48px;

    /* justify-content: center;
    display: flex;
    margin-bottom: 72px; */
}

.btn-list.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button.portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--primary-cloud-color);
    border: transparent;
    min-width: 69px;
    padding: 12px 24px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* border: 1px solid transparent; */
    /* border-color: #E7E9FC; */
}


.button.portfolio:hover,
.button.portfolio:focus {
    /* border-color: var(--accent-port-color);
    border-radius: 4px; */

    background-color: var(--accent-port-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.btn-list .element {
    margin-right: 24px;
    margin-bottom: 16px;
}

.btn-list .element:nth-last-child(-n+2) {
    margin-bottom: 0;
}


.row-list .element {
    width: 360px;
}


/* Row */

.row-list .frame {
    padding: 32px 16px;
    margin: 0;
    border: 1px solid var(--primary-logo-color);
    border-top: none;
      
}

.row-list .title {
    text-align: start;
   
}

.portfolio-cover-inner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;
    height: 300px;
    padding: 40px 32px 164px;
    background-color: var(--accent-color);
    color: var(--primary-cloud-color);
    height: 100%;
    
}

.portfolio-soc-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    color: var(--primary-text-color);
    text-decoration-line: none;
    
}

.portfolio-soc-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-soc-link:is(:hover, :focus) .portfolio-cover-inner {
    transform: translateY(0);
}

.portfolio-cover-text {
    margin-top: 0;
    margin-bottom: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--primary-cloud-color);

}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

